# 01. Importing libs and necessary files

In [1]:
# importing libs
import pandas as pd
import numpy as pp
import os

In [2]:
# defining path
path = r'C:\Users\hiron\Documents\050924_Instakart Basket analysis'

In [3]:
# importing files to dataframes
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# 02.Data Concistency checks ( always to be seprated from analysis )

## 02.1 Mixed data types

In [6]:
# Creating a new data frame for practice of this type since Instacart is already cleaned
df_test = pd.DataFrame()

In [7]:
# Inputting mixed values to the column
df_test['mix'] = ['a','b',1,True]

In [8]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [11]:
# FUNCTION TO CHECK FOR MIXED DATA TYPES (ADVANCED)
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)    
  if len (df_test[weird]) > 0:                                                               
        print (col)

mix

In [12]:
# making the data type as 1 -- based on checking which kind of data type is there most
df_test['mix'] = df_test['mix'].astype('str')    # in this case it is mostly string

## 02.2 Finding missing values

In [13]:
# Function to find missing values - how many
df_prods.isnull().sum()
# isnull will return true or false for a null value - true is as 1, so sum wil count number of 1s

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [15]:
# Creating a sub df to view only these 16 value columns
df_nan = df_prods[df_prods['product_name'].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [16]:
# HANDLING MISSING VALUES
# Normally, we would cretae new variable as flag; impute with mean,median in case of numerical values ; or remove the values
# in this case most appropriate is removing

In [17]:
# Lets create a new clean data set not containing null values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [19]:
df_prods.shape

(49693, 5)

In [20]:
df_prods_clean.shape

(49677, 5)

In [21]:
# another way to do this will be using "dropna" function which overwrites the DF
# df_prods.dropna(inplace = True)
# df_prods.dropna(subset = [‘product_name’], inplace = True)

## 02.3 Finding and addressing duplicates

In [22]:
# Finding duplicates ( full duplicates )
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [23]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [24]:
df_prods_clean.shape

(49677, 5)

In [25]:
# deleting duplicates usng pandas inbuilt function
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prods_clean_no_dups.shape

(49672, 5)

## 02.4 Exporting the final data

In [26]:
# Exporting to prepared data
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# 3. Exercise main tasks

In [27]:
# 03.2 Run describe on df_ords and analyse 
df_ords.describe()

,Unnamed: 0,order_id,user_id,number_of_orders,weekday,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [28]:
# The column : days_since_prior_order has a lot of missing values since the count is much lower compared to others
# Order hour of day has a normal minimum of value of 0 and 23 - median is 13 - which looks normal
# weekday has an expected min and max value of 0 and 6 - median is 3 - again normal
# number of orders has a min value of 1 and a max value of 100 and median is 11 which is again normal

In [29]:
# 03.3 Checking for mixed values in the df

In [30]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)    
  if len (df_ords[weird]) > 0:                                                               
        print (col)

In [32]:
# 03.4 no mixed data type columns found

In [33]:
# 03.5 Run a check for missing values in your df_ords dataframe.
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
number_of_orders               0
weekday                        0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [34]:
# 206209 null values found in column days_since_prior_order

### It is possible that these missing values are because of customers who placed their first orders and so there is no info on their prior orders

In [36]:
# 03.6 Addressing the missing values

### In this case, since these missing values relay significant information,we should not delete them
### and we cannot impute them since that will take away the meaning, so we will create a new column with boolean values
### value is true when it is a missing value, and false when it is not missing

In [39]:
df_ords['new_customer'] = df_ords['days_since_prior_order'].isnull()

In [40]:
df_ords.head(15)

,Unnamed: 0,order_id,user_id,number_of_orders,weekday,order_hour_of_day,days_since_prior_order,new_customer
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False
5,5,3367565,1,6,2,7,19.0,False
6,6,550135,1,7,1,9,20.0,False
7,7,3108588,1,8,1,14,14.0,False
8,8,2295261,1,9,1,16,0.0,False
9,9,2550362,1,10,4,8,30.0,False
10,10,1187899,1,11,4,8,14.0,False
11,11,2168274,2,1,2,11,NaN,True
12,12,1501582,2,2,5,10,10.0,False
13,13,1901567,2,3,1,10,3.0,False
14,14,738281,2,4,2,10,8.0,False

In [ ]:
# 03.7 Checking for duplicates

In [41]:
df_ords_dups = df_ords[df_ords.duplicated()]

In [42]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, number_of_orders, weekday, order_hour_of_day, days_since_prior_order, new_customer]
Index: []

In [43]:
# No duplicates found

In [44]:
# 03.9 Exporting as csv
# df was already exported before
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_ords__checked.csv'))